<!DOCTYPE html>
<html>
  <head>
    <title>Knora</title>
    <meta name="google-signin-client_id" content="<%= google_signin_client_id %>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.isLoggedIn = "<%= logged_in?%>"
      window.env = "<%= running_env %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
