<!DOCTYPE html>
<html>
  <head>
    <title>Knora</title>
    <meta name="google-signin-client_id" content="<%= google_signin_client_id %>">
    <meta property="og:title" content="Knora" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://raw.githubusercontent.com/yinqianzheng/knora/master/login.jpeg" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
    <script id="currentUser">
      window.currentUser = {
        id: "<%= current_user.id %>",
        firstname: "<%= current_user.firstname %>",
        lastname: "<%= current_user.lastname %>",
        email: "<%= current_user.email %>",
        imageUrl: "<%= current_user.imageUrl %>"
      }
    </script>
    <% end %>
    <script>
      window.env = "<%= running_env %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
